/*Markup for Desktop Devices*/
@media only screen and (min-width: 600px)
{
    body
    {
        margin: 0;
    }
    nav
    {
        background: #82735C;
        list-style-type: none;
        display: block;
        width: 100%;
        border-style: solid;
        border-top: 0.05em;
        border-bottom: 0.05em;
        border-left:0;
        border-right: 0;
        border-color: #000000;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    nav ul li
    {
        display: inline;
        padding: 1em;
        
    }
    nav ul li a
    {
        color: #FCFFFC;
        font-family: 'Arial Black';
        text-decoration: none;
    }

    #headerimage
    {
        padding-bottom: 0;
        display: grid;
    }
    #headerimage img 
    {
        width: 100%;
        border-style: solid;
        border-top: 0.05em;
        border-bottom: 0.05em;
        border-left:0;
        border-right: 0;
        border-color: #000000;
    }

    .text
    {
        background: #9DB17C;
        display: block;
        padding-top: 2em;
        padding-bottom: 2em;
        width: 100%;
    }
    .text h1
    {
        color: #040F0F;
        margin-top: 0;
        font-family: 'Lucida Sans';
        text-decoration: underline;
        font-size: 2em;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .text h2
    {
        color: #040F0F;
        margin-top: 0;
        font-family: 'Lucida Sans';
        font-size: 1em;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

/*Markup for Mobile Devices*/
@media screen and (max-width: 600px)
{
    #navbar
    {
        background: #2BA84A
    }
    #navbar ul
    {
        
        list-style-type: none;
    }
    #navbar ul li
    {
        display: inline;
        padding: 1em;
    }
    #navbar ul li a
    {
        color: #040F0F
    }
}

/* Colour Palette
Black #040F0F
Dark Green #248232
Light Green #2BA84A
Gunmetal 2D3A3A
White #FCFFFC