/*Markup for Desktop Devices*/
@media only screen and (min-width: 600px)
{
    /*MAIN BODY*/
    body
    {
        margin: 0;
        padding: 0;
        background-color: dimgray;

    }

    /*NAV BAR*/
    nav
    {
        background: #503D42;
        list-style-type: none;
        display: block;
        
        width: 100%;
        border-style: solid;
        border-top: 0.05em;
        border-bottom: 0.05em;
        border-left:0;
        border-right: 0;
        border-color: #000000;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
    nav ul li
    {
        display: inline;
        padding: 1em;
        
    }
    nav ul li a
    {
        color: #C37809;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.5em;
        text-decoration: none;
    }
    #bottom
    {
        background-color: #333;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #content
    {
        padding-left: 10%;
        padding-top: 1em;
        width: 78%;
        display: block;
    }


    /*Homepage*/
    #headerimage
    {
        padding-bottom: 0;
        display: grid;
        
    }
    #headerimage img 
    {
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        border-style: solid;
        border-top: 0.05em;
        border-bottom: 0.05em;
        border-left:0;
        border-right: 0;
        border-color: #000000;
    }

    /*Intro text Formatting*/
    .text
    {
        background: #4C7686;
        display: block;
        padding-top: 2em;
        padding-bottom: 2em;
        width: 100%;
    }
    .text h1
    {
        color: #312F2F;
        margin-top: 0;
        font-family: 'Raleway', sans-serif;
        text-decoration: underline;
        font-size: 2em;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .text h2
    {
        color: #312F2F;
        margin-top: 0;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    /*Showcase*/

    #showcase1
    {
        height: 12em;
        width: 33%;
        float: left;      
        background-image: url('../Assets/showcase1.jpg');
        border-radius: 0px 0px 0px 30px;

    }    
    #showcase1 h1
    {        
        font-family: 'Raleway', sans-serif;
        color: black;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
        margin-top: 2em;
        margin-bottom: 0px;

    }
    #showcase1 a 
    {
        text-decoration: none;
    }
    #showcase2
    {
        height: 12em;
        width: 34%;
        float: left;
        background-image: url('../Assets/showcase2.jpg');
    }    
    #showcase2 h1
    {
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        color: cornsilk;
        text-align: center;       
        text-decoration: none;
        margin-top: 2em;
        margin-bottom: 0px;
    }
    #showcase2 a 
    {
        text-decoration: none;
    }
    #showcase3
    {
        height: 12em;
        width: 33%;
        float: left;
        border-radius: 0px 0px 30px 0px;
        background-image: url('../Assets/showcase3.jpg');
    }     
    #showcase3 h1
    {
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        color: cornsilk;
        text-align: center;
        text-decoration: none;
        margin-top: 2em;
        margin-bottom: 0px;
    }
    #showcase3 a 
    {
        text-decoration: none;
    }
}

/*Markup for Mobile Devices*/
@media screen and (max-width: 600px)
{
    #navbar
    {
        background: #2BA84A
    }
    #navbar ul
    {
        
        list-style-type: none;
    }
    #navbar ul li
    {
        display: inline;
        padding: 1em;
    }
    #navbar ul li a
    {
        color: #040F0F
    }
}

/* Colour Palette
Top Navbar: #270F14
Standard Background: #77A7BA
Highlighted Background: #696D7D

JS Highlighted Background: #856A5D
JS Highlighted Text: #CFFFFD

Text 1: #312F2F
Text 2: #FFA630